<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title>Cursos de Formación</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-header>
            <img src="/assets/images/banner.jpg">



            <ion-card-title>Curso de Turismo en Toledo</ion-card-title>
            <ion-card-subtitle>Inicio 1 de Noviembre</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>





            <ion-label color="primary" (click)="oculto = 5000" *ngIf="oculto !== 5000">Leer más!</ion-label>

        </ion-card-content>
    </ion-card>
    <ion-card>

        <ion-card-header>
            <img src="/assets/images/toledo.jpg">



            <ion-card-title>Curso de Turismo en Toledo</ion-card-title>
            <ion-card-subtitle>Inicio 1 de Noviembre</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean...<a>Leer más</a>
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-card-header>
            <img src="/assets/images/talavera.jpg">



            <ion-card-title>Curso de Turismo en Toledo</ion-card-title>
            <ion-card-subtitle>Inicio 1 de Noviembre</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean...<a>Leer más</a>
        </ion-card-content>
    </ion-card>



</ion-content>